 <!-- Intro Header -->
 <header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row" id="intro-box">
                <div class="col-md-8 col-md-offset-2">
                    <!-- <h1 class="brand-heading">Accel Impact</h1> -->
                    <img height="400px" src="./img/logos/color_logo_transparent_stacked.png">
                    <p class="intro-text">Emerging Tech Impact Ventures</p>
                </div>
            </div>
            <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</header>